html {
	background-color: #000000;
	color: #FFFFFF;
}

div.master {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	border-style: solid;
	border-color: #FFFFFF;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin-left: 0px;
	margin-right: 0px;
}

div.icons-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.icon {
	width: 19%;
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
}

.title {
	color: #FFFFFF;
	font-family: "Courier New";
	font-weight: lighter;
	margin-top: 10px;
	margin-bottom: 10px;
}