html {
	background-color: #000000;
	color: #FFFFFF;
}

div.centre-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#home {
	margin: 0;
	width: 40vmax;
}

.title {
	color: #FFFFFF;

	font-family: "Courier New";
	font-weight: lighter;
	font-size: 3vmax;

	margin-top: 5px;
	margin-bottom: 5px;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fade-div {
	animation-name: fadeIn;
	opacity: 0;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

div.icons-container {
	width: 40vmax;

	display: flex;
	justify-content: space-around;
	align-items: center;
	
	margin-bottom: 10px;

	animation-duration: 2s;

	/*border: 1px solid #FFFFFF;*/
}

div.icon-container {
	width: 27%;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 10px;

	border-radius: 10%;

	/*border: 1px solid #FFFFFF;*/
}

.icon-container:hover {
	background-color: #FFFFFF;
}

.icon {
	width: 100%;
	position: relative;
	fill: #FFFFFF;
}

.icon:hover {
	fill: #000000;
}

.btn-container {
	width: 100%;

	/*opacity: 0;
	transition: opacity 1s; 

	border: 1px solid #FFFFFF;*/
	/*Delays animation for buttons*/
	animation-delay: 1s;
}

button.default-btn {
	width: 100%;

	border: 1px solid #FFFFFF;
	color: white;
	background-color: black;

	font-family: "Ubuntu";
	font-size: 2vmax;

	margin: 0px;
	margin-bottom: 5px;
}

#home-btn {
	margin: 0;
	margin-top: 5px;
}

.default-btn:hover {
	background-color: white;
	color: black;
	border: 1px solid white;
}

#about {
	width: 50vmax;
	height: 45vmin;
	min-height: 350px;

	display: none;
	opacity: 0;
}

.about-text {
	/*Alignment looks off at 100%*/
	width: 99.5%;
	height: 100%;

	font-family: "Ubuntu";
	font-size: 3vmin;
	text-align: justify;

	overflow-y: scroll;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;

	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;
}

::-webkit-scrollbar {
	width: 0;
}

::-webkit-scrollbar-thumb {
  background: #FFF; 
}

#home.active {
	animation-name: fadeIn;
	opacity: 1;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	display: block;
}

#home.inactive {
	animation-name: fadeOut;
	opacity: 0;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#about.active {
	animation-name: fadeIn;
	opacity: 1;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	display: block;
}

#about.inactive {
	animation-name: fadeOut;
	opacity: 0;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/*Tetris CSS*/

#tetris {
	width: 50vmax;
	height: 95vmin;
	min-height: 350px;

	display: none;
	opacity: 0;

	border-color: #FFFFFF;
	border-width: 1px;
	background-color: #FFFFFF;
}

#tetris.active {
	animation-name: fadeIn;
	opacity: 1;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#tetris.inactive {
	animation-name: fadeOut;
	opacity: 0;

	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#tetris-frame {
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color: #FFFFFF;
}

.tetris-column {
	/*background-color: #000000;*/
}

#tetris-board {
	width: 70%;

	border-color: #FFFFFF;
	border-width: 1px;
}

#tetris-meta {
	width: 25%;

	display: flex;
	flex-direction: column;

	border-color: #000000;
	border-width: 1px;
}

#tetris-controls {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-end;
}

.control-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.middle-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tetris-key {
	width: 30%;

	padding-top: 7.5%;
	padding-bottom: 7.5%;

	border-radius: 10%;

	background-color: #000000;
	border-color: #000000;
	color: #FFFFFF;
	text-align: center;
}

#spacebar-key {
	width: 95%;

	margin-top: 15%;

	border-radius: 0;
}